Let's Search


<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :city_cont, "City contains" %>
    <%= f.text_field :city_cont %>
  </div>
    <%= f.label :asking_rate_gteq, "Asking Rate between" %>
    <%= f.text_field :asking_rate_gteq %>
    <%= f.label :asking_rate_lteq, "and" %>
    <%= f.text_field :asking_rate_lteq %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>